<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Bitcoin Price!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {{ turbo() }}
</head>

<body class="center">
    <div style="height: 50px;"></div>
    <img class="center" src="https://upload.wikimedia.org/wikipedia/commons/5/50/Bitcoin.png " alt="... " style="width: 100px; ">
    <div style="height: 50px;"></div>
    <div class="card  border-success border-5">
        <turbo-frame id="CurrentPrice">
            <div class="center">
                <h1 style="text-align: center;">Current price</h1>
                <h3 style="text-align: center; color: green;">{{CurrentPrice}}</h3>
        
            </div>
        
        </turbo-frame>
        <turbo-frame id="AvgPrice">
            <div>
                <h1 style="text-align: center;">Average price</h1>
                <h3 style="text-align: center; color: green;">{{AvgPrice}}</h3>
        
        
            </div>
        
        </turbo-frame>

    </div>
</body>


</html>